__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl
.venv/
env/
venv/
ENV/
.ipynb_checkpoints/
*.ipynb_checkpoints
.vscode/
.code-workspace
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
*.log
*.tmp
*.out
*.err
build/
dist/
.eggs/
*.manifest
*.spec
.streamlit/
*.lock
poetry.lock
Pipfile.lock